*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #eb52bf, #4ab3ff);
    overflow: hidden;
    opacity: 1;
}

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0  80px;

}

.sign-in-sign-up{
    background: rgba(255,255,255,0.3);
    padding: 10px;
    border-radius: 35px;
    border: 1px solid white;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    cursor: pointer;

}

main {
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main > div{
    width: 50%;
}

.left-section{
   transform: translateY(-50%);
}

.heading{
    font-size: 55px;
}

.sub-heading{
    font-size: 25px;
    font-weight: normal;
}

.right-section{
  display: flex;
  justify-content: flex-end;

}

.homepage-illustration{
    width: 80%;
}

.circle1 , .circle2{
    z-index: -1;

}

.circle1{
    background: linear-gradient(180deg, #0452fa, #8eff48);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    filter: blur(3px);

    position: absolute;
    left: -120;
    top: -100;
}

.circle2{
    background: linear-gradient(180deg, #ff57d0, #0452fa);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(3px);

    position: absolute;
    right: -70;
    bottom: -100;
}